{# coaching/app/resources/views/layout.html.twig #}
{% extends "::layout.html.twig" %}
{% block body %}
	<h2>Espace Coach</h2>
	<div class="navigation">
		<a href="{{path('accueil')}}">Retour</a>
	</div>
{% endblock %}