{# coaching/app/resources/views/layout.html.twig #}
{% extends "::layout.html.twig" %}
{% block body %}
	<h2>Pas connecté</h2>
	<div class="navigation">
		<a href="{{path( 'fos_user_profile_show') }}">Connexion</a>
	</div>
	<div class="navigation">
		<a href="{{path('accueil')}}">Retour</a>
	</div>
{% endblock %}
