#page
{
	width:80%;
	margin:0 auto;
}

h1
{
	background-image: url("images/banniere.jpeg");
	background-repeat: no-repeat;
	background-size: containt;
	background-position: right center;
	padding-bottom: 175px;
	padding:50px;
	padding-left: 50px;
	font-family: 'Faster One', cursive;
}
h2
{
	font-family: 'Faster One', cursive;
	text-align: center;
}

section
{
	float:left;
	width: 45%;
	border:1px solid black;
	margin: 2% 2%;
	position: relative;
	text-align: center;
	padding-bottom: 250px;
}

section:after
{

	clear:both;
}

#espace_sportif
{
	background-image: url("images/sportif.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

#espace_coach
{
	background-image: url("images/coach.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#boutique
{
	background-image: url("images/boutique.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
#forum
{
	background-image: url("images/forum.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}
a
{
	color: black;
	text-decoration: none;
} 	

.titre
{

	padding:10px;
	border-radius:10px 10px 10px 10px;
	border:1px solid black;
	background-color: white;
}

.bas
{
	position:absolute;
	bottom:0;

	width:100%;
}
a:visited
{
	color: black;
}
.info_sportif
{
	border:1px solid black;
	width:60%;
	margin:0 auto;
}

.physique
{
	padding: 2% 0;
	text-align: center;
}
.physique input
{
	display:inline;
	width:10%;

}
.physique label+label
{
	padding-left:1%;
}

.sexe, .naissance, .niveau
{
	display: block;
	text-align: center;
	padding: 2% 0;

}
.niveau:after
{
	clear:both;
}
button
{
	margin:2% 0 0 0;
}

.navigation 
{
	color:black;
	border-radius:20px 20px 20px 20px;
	border:1px solid black;
	width:60%;
	text-align: center;
	margin:0  auto;
	padding: 5px;
	background-color: #51ADA6;
	box-shadow: 5px 5px 5px black;
	margin-bottom:1%;
}

.navigation:hover
{
	background-color: #CDF2ED;
}